
.blocInfo{
    display: flex;
    background-color: darkseagreen;
    margin: 2px;
}

.blocInfoColonne{
    display: flex;
    flex-direction: column;
    background-color: darkseagreen;
    margin: 2px;
}