.footerBackground {
  background-color: black;
}

.footerContent {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
}

.footerLogo {
  display: flex;
  width: 122px;
}

.legal {
  display: flex;
  color: #ffffff;
}

@media only screen and (max-width: 819px) {
  .footerBackground {
    padding-bottom: 40px;
    width: 100%;
  }
}
